tr,
td,
th {
  border: solid black 1px;
  border-collapse: collapse;
}
table {
  border: solid black 1px;
  border-collapse: collapse;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.navBar {
  position: absolute;
  left: 3%;
  display: flex;
  padding: 10px;
}

li {
  list-style-type:none
}

button {
  margin: 2px;
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
  height: 40px;
  width: 70px;
  border-radius: 10%;
  margin-bottom: 5%;
}

a {
  margin: 1px;
  cursor: pointer;
  margin-bottom: 5%;
  display: block;
  width: 85px;
  height: 25px;
  background: #dc88c2;
  padding: 10px;
  justify-content: center ;
  border-radius: 5px;
  color: white;
  line-height: 25px;
  text-decoration: none;
}

a:hover {
  color: pink;
}

button:hover {
  background-color: pink;
}

button:active {
  background-color: pink;
}

body {
  text-align: center;
}

.navbar-datetime {
  position: absolute;
  right: 3%;
  padding: 10px;
}

.dateTime {
  font-size: xx-large;
  color: pink;
  font-weight: bolder;
  padding: 10px;
  font-style: bold;
}

.scroll-text {
  text-align: center;
  font-size: x-large;

  /* animation properties */
  -moz-transform: translateX(-25%);
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);

  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(25%);
  }
  to {
    -webkit-transform: translateX(-25%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(25%);
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
  to {
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}
