tr,
td,
th {
  border: solid black 1px;
  border-collapse: collapse;
}
table {
  border: solid black 1px;
  border-collapse: collapse;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.navBar {
  position: absolute;
  left: 3%;
  display: flex;
  padding: 10px;
}

button {
  margin: 2px;
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
  height: 40px;
  width: 70px;
  border-radius: 10%;
  margin-bottom: 5%;
}

button:hover {
  background-color: pink;
}

button:active {
  background-color: pink;
}

body {
  text-align: center;
}

.navbar-datetime {
  position: absolute;
  right: 3%;
  padding: 10px;
}

.dateTime {
  font-size: xx-large;
  color: pink;
  font-weight: bolder;
  padding: 10px;
  font-style: bold;
}
