tr,
td,
th {
  border: solid black 1px;
  border-collapse: collapse;
}
table {
  border: solid black 1px;
  border-collapse: collapse;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.navBar {
  position: absolute;
  left: 3%;
  display: flex;
  padding: 10px;
}

button {
  margin: 2px;
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
  height: 40px;
  width: 70px;
  border-radius: 10%;
  margin-bottom: 5%;
}

a {
  margin: 3px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 5%;
  justify-content: center;
  padding: auto;
}

a:hover {
  color: pink;
}

button:hover {
  background-color: pink;
}

button:active {
  background-color: pink;
}

body {
  text-align: center;
}

.navbar-datetime {
  position: absolute;
  right: 3%;
  padding: 10px;
}

.dateTime {
  font-size: xx-large;
  color: pink;
  font-weight: bolder;
  padding: 10px;
  font-style: bold;
}


.scroll-text {
  text-align: center;
  font-size: x-large;

  /* animation properties */
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  
  -moz-animation: my-animation 40s linear infinite;
  -webkit-animation: my-animation 40s linear infinite;
  animation: my-animation 40s linear infinite;
}



/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(25%); }
  to { -webkit-transform: translateX(-25%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(25%);
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
  to {
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}